<div class="head">
  <div class="columns">
    <div class="column is-one-fifth">
      <nav class="has-text-centered dropdown">
        <a class="dropdown-btn">
          <img src="../../../assets/img/tools/scissor-clippers.png" alt="scissor-clippers" width="100">
        </a>
        <ul class="dropdown-content">
          <li><a href="#welcome">О барбершопе</a></li>
          <li><a href="#offers">Услуги</a></li>
          <li><a routerLink="стрижка">Стрижка</a></li>
          <li><a routerLink="бритьё">Бритьё</a></li>
          <li><a href="#price">Прайс-Лист</a></li>
        </ul>
      </nav>
    </div>

    <div class="column has-text-centered logo">
      <h1 class="heading">Barbershop</h1>
      <figure>
        <img [lazyLoad]="'../../../assets/img/logo.png'" alt="logo">
      </figure>
      <h2>Парикмахерская для настоящих мужчин</h2>
    </div>
    <div class="column is-one-fifth"></div>
  </div>
</div>
