img {
  max-height: 480px;
}

figure {
  padding: 0;
}

.head {
  background-color: rgb(204,204,0);
  min-height: 100vh;
}

h1 {
  padding-top: 8vw;
}

h2 {
  font-size: 36px;
  text-transform: uppercase;
}

a {
  color: #cccc00;
  font-size: 48px;
}

a:hover {
  color: white;
}

nav {
  background-color: black;
  display: none;
  transition: all 3s ease-out;
  overflow: hidden;
  min-height: 360px;
  min-width: 430px;
}

.menu-toggled {
  display: block;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-left-50 {
  padding-left: 50px;
}

