<div class="has-text-centered" id="offers">
  <h3 class="page-title">Мы предлагаем</h3>
  <p>профессиональные услуги</p>
  <p>от высококвалифицированных мастеров нашего</p>
  <p>барбершопа</p>
</div>
<div class="columns">
  <div class="column"></div>

  <div class="column">
    <a class="has-text-centered" routerLink="стрижка">
      <div class="is-paddingless block haircut">
      </div>
      <div class="transparent">
        <p class="title">СТРИЖКА</p>
        <figure>
          <img src="../../../assets/img/tools/scissors-opened-tool-shape.png" alt="стрижка" height="150">
        </figure>
        <p class="text-yellow">мужская и детская</p>
      </div>
    </a>
  </div>

  <div class="column"></div>

  <div class="column">
    <a class="has-text-centered" routerLink="бритьё">
      <div class="content is-paddingless block shaving">
      </div>
      <div class="transparent">
        <p class="title">Бритьё</p>
        <figure>
          <img src="../../../assets/img/tools/razor-hair-salon-tool.png" alt="стрижка" height="150">
        </figure>
        <p class="text-yellow">классическое и королевское</p>
      </div>
    </a>
  </div>

  <div class="column"></div>
</div>
