.title {
  color: #cccc00;
  padding-top: 15%;
}

.page-title {
  text-transform: uppercase;
  font-size: 48px;
  padding-top: 4vw;
}

.columns {
  padding-top: 4vw;
  padding-bottom: 15vw;
}

.content {
  width: 500px;
  height: 500px;
}

.haircut {
  background: url("../../../assets/img/main/hai-phung-247271-unsplash.png");
}

.shaving {
  background: url("../../../assets/img/main/christoffer-engstrom-189365-unsplash.png");
}

.haircut,
.shaving {
  filter: brightness(0);
  transition: all .3s ease-in;
}

a {
  position: relative;
  height: 500px;
  width: 500px;
  display: block;
}

a:hover {
  .haircut,
  .shaving {
    filter: brightness(1);
  }
}

.block,
.transparent {
  width: 100%;
  height: 100%;
  position: absolute;
}

.transparent {
  z-index: 10;
}
