<div class="columns" id="price">
  <div class="column">
    <figure>
      <img [lazyLoad]="'../../../assets/img/main/christopher-campbell-28571-unsplash.png'" alt="christopher-campbell"
           height="1080">
    </figure>
  </div>
  <div class="column">
    <h3 class="title has-text-centered">Прайс</h3>
    <ul class="leaders">
      <li>
        <span>Мужская стрижка</span>
        <span>1000</span>
      </li>
      <li>
        <span>Детская стрижка</span>
        <span>800</span>
      </li>
      <li>
        <span>Стрижка машинкой (одна насадка)</span>
        <span>500</span>
      </li>
      <li>
        <span>Мужская стрижка + детская стрижка</span>
        <span>1600</span>
      </li>
      <li>
        <span>Мужская стрижка + королевское бритье</span>
        <span>1700</span>
      </li>
      <li>
        <span>Королевское бритье</span>
        <span>1000</span>
      </li>
      <li>
        <span>Бритье головы</span>
        <span>1000</span>
      </li>
      <li>
        <span>Королевское бритье + бритье головы</span>
        <span>1700</span>
      </li>
      <li>
        <span>Моделирование бороды</span>
        <span>800</span>
      </li>
      <li>
        <span>Стрижка усов и бороды</span>
        <span>500</span>
      </li>
      <li>
        <span>Камуфляж седины</span>
        <span>500/800</span>
      </li>
      <li>
        <span>Стайлинг</span>
        <span>300</span>
      </li>
      <li>
        <span>Горячий воск</span>
        <span>300</span>
      </li>
    </ul>
  </div>
</div>
