<app-header [title]="'СТРИЖКА'"></app-header>
<div class="top-padder"></div>
<div class="columns">
  <div class="column">
    <figure>
      <img [lazyLoad]="'../../assets/img/haircut/shamim-nakhaei-174836-unsplash.png'" alt="shamim-nakhaei" width="960">
    </figure>
  </div>
  <div class="column">
    <h2 class="title has-text-centered">EXECUTIVE</h2>
    <div class="content">
      <p>В переводе с английского слово «executive» означает «исполнительный, начальник». Такое название вполне
        естественно, это одна из самых популярных классических стрижек, которую любили носить и рабочие, и офисные
        клерки в 50-ых – 60-ых годах.
        Высоким спросом экзекьютив пользуется и сейчас, при чем не только в Англии, но и в Москве. Оригинальное название
        обращает на себя внимание, и деловые люди непременно стараются узнать о модной английской стрижке. И совсем не
        зря, она подчеркнет ваш статус, добавит стиля, уверенности в себе.</p>
      <p>Ажиотаж вызван и тем, что прическа подходит практически всем, вне зависимости короткие или длинные у вас
        волосы. Посоветуйтесь с барбером, расскажите о своих предпочтениях – если вы приверженец коротких волос, не
        рискуйте. Остальным любителям классики, которые не боятся экспериментировать, эта стрижка «то, что доктор
        прописал».</p>
      <p>Определить пойдет вам executive или нет (хотя скорее всего пойдет) очень просто. Если вы раньше укладывали
        волосы на один бок с косым пробором, то и новая стрижка оставит вас в восторге. Стоит учесть, что экзекьютив
        лучше делать обладателям густой шевелюры. Так она будет выглядеть объемнее. Хотя совсем не обязательно. В век
        бесконечного разнообразия средств для укладки добавить себе немного объема на волосах не составит никакого
        труда.</p>
      <p>Главная изюминка экзекьютив – это ярко выраженный пробор сбоку. С помощью машинки и тонкой насадки его слегка
        выбривают, делая тоненькую аккуратную линию. Зону висков и затылка оформляют коротко, виски обычно сводят к
        бороде. Челку и верхнюю часть оставляют, чтобы уложить ее набок, придавая небольшой объем и подчеркивая
        контур.</p>
    </div>
  </div>
</div>


<div class="columns">
  <div class="column">
    <h2 class="title has-text-centered">CROP</h2>
    <div class="content">
      <p>Это один из главных трендов 2017 года. Во всех топовых барбершопах предложат именно такой стайл. Прическе
        свойственны короткостриженые волосы сзади и по бокам, наверху - одной длины. Как правило, последние укладываются
        вперед или в сторону. Кроп больше идет тем, у кого симметричные и точеные черты лица. При этом есть большой плюс
        - стрижка подойдет мужчинам любого возраста. Еще одно качество - кроп можно сочетать с любым стилем одежды,
        поэтому он пользуется большой популярностью.</p>
    </div>
  </div>
  <div class="column">
    <figure>
      <img [lazyLoad]="'../../assets/img/haircut/joanna-nix-573167-unsplash.png'" alt="joanna-nix">
    </figure>
  </div>
</div>


<!-- 3-4 -->
<div class="columns">
  <div class="column">
    <figure><img [lazyLoad]="'../../assets/img/haircut/tom-morel-596628-unsplash.png'" alt="tom-morel">
    </figure>
  </div>
  <div class="column">
    <h2 class="title has-text-centered">FADE</h2>
    <div class="content">
      <p>Еще пару десятилетий назад мастера уделяли мужской стрижке буквально минут 20, не больше. Но сегодня индустрия
        красоты предлагает многообразие образов, на которые стоит обратить внимание и потратить больше своего времени.
        Ультрасовременными образами последних лет стали прически с различными вариациями коротких и длинных волос, а
        также с выбритыми висками и затылком. Такие стрижки подходят большинству современных мужчин. И среди них
        выделяют стрижку спортивного типа «Fade». Чаще можно услышать еще такие названия как полубокс (хотя «Fade» более
        креативна, чем классика) и «Гриб».</p>
      <p>У такой мужской стрижки есть преимущества - абсолютная простота в укладке и уходе. Достаточно подобрать
        подходящий для вашего типа волос шампунь и бальзам (кондиционер). Если же при сушке волос добавить
        профессиональные средства для укладки и слегка взъерошить волосы, можно получить ультрамодный стиль. Этот тип
        стрижки удобен тем, что не имеет правил и допускает укладку как вперед, так и назад, в зависимости от ваших
        предпочтений или сегодняшнего настроения. </p>
      <p>В отличие от стрижки «Undercut» «Фейд» обладает плавным переходом с постепенным удлинением от затылка и вверх.
        Причем для любителей уникального стиля с длиной на висках можно легко поэкспериментировать (все это будет
        зависеть от креативности и желаний самого клиента).</p>
    </div>
  </div>
</div>


<div class="columns">
  <div class="column">
    <h2 class="title has-text-centered">FLAT TOP</h2>
    <div class="content">
      <p>История мужской стрижки «площадки» восходит к коротким военным стрижкам, но привычный нам всем Flat Top обрел
        свой окончательный вид лишь к 1950-м годам. Это была по-настоящему консервативная стрижка; её носили люди старой
        закалки, военные, солдаты, рабочие предприятий и офисов. В противовес моде на рок-н-ролл Flat Top носили и
        студенты, которые были не прочь поиграть в бейсболл после занятий или, как это бывало чаще, надрать зад команде
        из другого класса. С приходом 1960-х годов популярность «площадки» пошла на спад, но спустя полтора десятилетия
        интерес к ней вернулся вновь. А всё благодаря моде на культуру 1950-х, рок-н-ролл и все стрижки, которые были
        связаны с той эпохой.</p>
    </div>
  </div>
  <div class="column">
    <figure><img [lazyLoad]="'../../assets/img/haircut/fabio-scaletta-470001-unsplash.png'" alt="fabio-scaletta">
    </figure>
  </div>
</div>

<!-- 5-6 -->
<div class="columns">
  <div class="column">
    <figure><img [lazyLoad]="'../../assets/img/haircut/dollar-gill-675483-unsplash.png'" alt="dollar-gill">
    </figure>
  </div>
  <div class="column">
    <h2 class="title has-text-centered">POMPADOUR</h2>
    <div class="content">
      <p>Причёска «помпадур» получила своё название в честь фаворитки французского короля Людовика 15. В пятидесятые
        годы прошлого столетия она вошла в моду благодаря легендарном Элвису Пресли: в то время именно знаменитости были
        законодателями стиля. С тех пор миновало немало десятилетий, однако укладка «помпадур» отнюдь не канула в
        прошлое, а наоборот, приобрела популярность среди мужчин и женщин разных возрастов. Она идеально подходит для
        создания уникального и смелого образа.</p>
      <p>Эта причёска включает в себя два основных элемента – выбритые или коротко подстриженные виски в сочетании с
        длинными прядями на макушке, которые зачёсывают назад или укладывают наподобие «хохолка».</p>
      <p>Главное преимущество этого типа укладки – возможность вариаций, благодаря которым образ не остается статичным.
        Каждый день можно формировать причёску по-новому, подбирая укладку под настроение или стиль одежды.</p>
    </div>
  </div>
</div>


<div class="columns">
  <div class="column">
    <h2 class="title has-text-centered">MOHAWK</h2>
    <div class="content">
      <p>Mohawk (могавк или более общеизвестный «ирокез») берет свои истоки от индейцев северных племен, носивших
        одноименное название. Племя ирокезов выделялось воинственностью, мужественностью и имело отличие – прическу в
        виде выстриженных наголо висков и длинных волос посередине. Часто волосы окрашивали в красный цвет, украшали
        перьями диких птиц и прочими амулетами, что нагнетало еще большего страха на их врагов и помогало при войнах
        между племенами.</p>
      <p>В современном мире Mohawk появился в середине прошлого столетия, когда исполнители джаза пытались дополнительно
        шокировать публику, выстригая себе ирокез. Он был далек от индейского: волосы оставляли короткими, но в то время
        это было в новинку и олицетворяло некоторый протест.
      </p>
      <p>Наибольшую популярность Mohawk получил во времена расцвета панк-культуры, в 70-е года 20-го века. Тогда ирокез
        стал олицетворением панк-рокеров, а форме и цветовой гамме мог позавидовать любой вождь индейцев.</p>
      <p>Ирокез в наше время не потерял былую популярность, но приобрел много форм и типов. И если одни формы так и
        остались символами определенных субкультур, то другие полюбились многим звездам шоу-бизнеса и спорта, особенно
        тем, кто предпочитает и в жизни спортивный стиль или стиль милитари.</p>
    </div>
  </div>
  <div class="column">
    <figure><img [lazyLoad]="'../../assets/img/haircut/clem-onojeghuo-201644-unsplash.png'" alt="clem-onojeghuo">
    </figure>
  </div>
</div>

<!-- 7-8 -->
<div class="columns">
  <div class="column">
    <figure><img [lazyLoad]="'../../assets/img/haircut/angello-lopez-182505-unsplash.png'" alt="angello-lopez">
    </figure>
  </div>
  <div class="column">
    <h2 class="title has-text-centered">UNDERCUT</h2>
    <div class="content">
      <p>В этом году стрижка undercut является одной из самых модных. Она не только эффектна, но и универсальна: со
        стрижкой undercut вы будете превосходно выглядеть как в деловом костюме, так и в одежде свободного стиля. В
        зависимости от типа укладки, эта стрижка может выглядеть повседневной, праздничной или спортивной.</p>
      <p>Впервые эта стрижка вошла в обиход в Великобритании в шестидесятые годы прошлого столетия и с тех пор то и дело
        входила в моду. Считается, что андеркат – упрощенная Hitlerjugend. Сегодня она снова снискала себе популярность
        среди молодёжи, поскольку выглядит оригинально, стильно и современно.</p>
      <p>Дословно undercut переводится с английского как «подрез» или «срезанный низ». Ещё одно название прически на
        русском – «стрижка под стрижкой». Основная её часть представляет собой короткие волосы длиной один-два
        сантиметра, на которые как бы накладываются, свисая, более длинные пряди с макушки. Удлиненная часть причёски
        накрывает собой выбритые виски и затылок без плавного перехода между короткими и длинными волосами.</p>
      <p>Благодаря форме этой стрижки она остается модной, а ее универсальность позволяет сочетаться с любым выбранным
        стилем одежды, будь то милитари, деловой стиль или неформальный образ. Востребованность андерката также
        обусловлена тем, что прическа отлично выглядит на любом типе волос (прямом, вьющемся и даже непослушном).</p>
    </div>
  </div>
</div>


<div class="columns">
  <div class="column">
    <h2 class="title has-text-centered">TOP KNOT</h2>
    <div class="content">
      <p>В феодальной Японии элитой общества считались самураи. Помимо всего прочего, представители этого социального
        слоя внешне отличались от остальных тем, что всегда имели при себе два меча и носили голове причёску, в наше
        время получившую название topknot. Сегодня эта причёска – тренд в молодёжной среде. Она удобна, универсальна и,
        кроме того, выглядит необычно и стильно.</p>
      <p>Причёску topknot можно считать естественным продолжением стрижки undercut, которая характеризуется выбритыми
        висками и затылком, на которые спадают длинные пряди с макушки. Когда эти пряди становятся ещё длиннее,
        появляется возможность сделать topknot, что дословно переводится как «узел наверху». Иначе говоря – пучок или
        хвост из волос на затылке.</p>
      <p>Для того чтобы причёска смотрелась идеально необходимо своевременно корректировать её в барбершопе:
        подравнивать волосы на макушке и укорачивать по бокам.</p>
      <p>Мужчины и прежде нередко ходили с пучками, однако по-настоящему модной причёска стала совсем недавно.
        «Законодателями» моды на topknot по праву можно считать хипстеров – именно они превратили причёску в мужской
        тренд.</p>
    </div>
  </div>
  <div class="column">
    <figure><img [lazyLoad]="'../../assets/img/haircut/shttefan-472897-unsplash.png'" alt="shttefan">
    </figure>
  </div>
</div>
