<div class="columns" id="welcome">
  <div class="column">
    <figure>
      <img [lazyLoad]="'../../../assets/img/main/main-clippers-beard.png'" alt="main-clippers-beard">
    </figure>
  </div>
  <div class="column">
    <div class="content">
      <h3 class="title has-text-centered">Добро пожаловать в CUT</h3>
      <p>Барбершоп CUT – это не просто мужская парикмахерская, в которой вы можете привести в порядок свою стрижку или
        бороду, сделать королевское бритье или стайлинг на мероприятие.</p>
      <p>Это особенное мужское пространство, где знают ваши вкусы и интересы, где можно чувствовать себя самим собой и
        свободно общаться на любые темы. Мы с радостью предложим вам: чашку свежезаваренного кофе или бокал отличного
        бурбона. Барбершоп CUT – это место, которое необходимо посетить лично, чтобы по-настоящему проникнуться особым
        настроением и атмосферой мужского клуба.</p>
      <p>Наши профессиональные мастера обеспечивают непревзойденное качество работ, а потому вы можете быть спокойны за
        результат любой, даже самой сложной, стрижки. В меню наших услуг также есть моделирование и стрижка бороды,
        королевское бритье с использованием опасной бритвы, детские стрижки, камуфляж седины и многое другое. Все
        барберы обучены по высоким стандартам и совершенствовали свои навыки как в России, так и за рубежом, а потому
        любая процедура доставит вам удовольствие и порадует высочайшим качеством.</p>
      <p>Нам доверяют тысячи довольных клиентов, которые являются уже и нашими друзьями. Присоединяйтесь к нашей дружной
        компании, нам есть, чем вас удивить.</p>
      <p>Ждем вас!</p>
    </div>
  </div>
</div>
