#up-arrow {
  transition: all .2s ease-in;
}

#up-arrow:hover {
  transform: scale(1.1);
  background-color: #cccc00;
}

#up-arrow:active {
    transform: scale(1.05);
}


div {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #cccc00;
  width: 70px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
