/* You can add global styles to this file, and also import other style files */
@import "~bulma/bulma";
@import url('https://fonts.googleapis.com/css?family=Righteous|Russo+One');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
  color: black;
}

.heading {
  font-size: 46px;
  font-family: 'Righteous', cursive;
}

.text-yellow {
  color: #cccc00;
}

.title {
  font-size: 48px;
  color: black;
  text-transform: uppercase;
}

.content h3 {
  color: black;
}
